body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navHeader {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(102, 102, 163);
}

header img {
  float: left;
}

nav {
  text-align: right;
  margin: 0;
  padding: 0;
}

nav ul a li {
  display: inline;
  font-size: 15px;
  padding: 20px;
  color: #666;
}

nav ul a {
  font-weight: bold;
}

section {
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 40px; */
  height: 100vh;
}

.container {
  padding-top: 60px;
  padding-inline-start: 60px;
  color: #333;
  padding-bottom: 20px;
}

.container .content {
  margin-top: 50px;
}

.container .content a {
  color: #444;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

footer {
  background: #1e1e1e;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 60px;
  padding-right: 60px;
}

.title {
  text-align: center;
}

.text2 {
  display: grid;
  grid-template-columns: auto;
}

.text2 {
  display: grid;
  grid-template-columns: auto;
}

.abc {
  display: grid;
  grid-template-columns: 200px 280px;
}

ol {
  margin-top: 60px;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
}
